doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:100,300,400|Roboto+Condensed:300,400')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content